DEEPSEEK_API_KEY=""

# Optional (for later if you add LangSmith):
# LANGSMITH_API_KEY=""
# LANGSMITH_TRACING_V2=true
# LANGSMITH_PROJECT="arthmetic-agent"
# LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
